
questions_5_to_9/full_basis_in_matrix_form.mat
questions_5_to_9/full_50_basis_in_matrix_form.mat
questions_5_to_9/full_500_v2_basis_in_matrix_form.mat
questions_5_to_9/full_500_basis_in_matrix_form.mat
questions_5_to_9/full_100_v3_basis_in_matrix_form.mat
questions_5_to_9/full_100_v2_basis_in_matrix_form.mat
questions_5_to_9/full_1000_basis_in_matrix_form.mat
questions_5_to_7/full_basis_in_matrix_form.mat
questions_5_to_7/full_basis_in_matrix_form.mat
questions_5_to_7/full_basis_in_matrix_form.mat
questions_5_to_7/full_basis_in_matrix_form.mat
